<div class="parallax" id="top">
  <div class="parallax-item p-item-1"></div>
  <div class="parallax-item p-item-2 sticky-bottom"></div>
</div>

<div class="content" #target>
  <div class="content-header">
    <h1>Bianca Klein Schmitt</h1>
    <h2>Full Stack Web Developer</h2>
  </div>

  <div class="about-me">
    <div class="about-me-who-am-i">
      <div>
        <h2 class="mb-5">Quem sou eu?</h2>
        <img src="../../../assets/img/bi.jpg" class="mat-elevation-z20">
      </div>

      <mat-card>
        <mat-card-content>
          Olá, pessoal, meu nome é Bianca Klein Schmitt e tenho 24 anos. Venho de uma família de agricultores que sempre
          lutou muito para que eu pudesse estudar. Sou historiadora de formação, mas desde 2021 estou em transição de
          carreira para a área de desenvolvimento web. Sou muito curiosa e atualmente estou imersa nas tecnologias
          Angular e Java. Venha conhecer um pouco mais dos meus projetos!
        </mat-card-content>
      </mat-card>
    </div>
    <div class="about-me-my-projects" id="content">
      <h2>Meus projetos</h2>
      <app-projects></app-projects>
    </div>
  </div>
</div>

<a href="./#content" onclick="event.preventDefault(); location.hash='content'">
  <span class="material-icons sticky-bottom anchor">
    expand_more
  </span>
</a>
