// .container-default{
//   z-index: 1;
//   position: relative;
// }
// .container-1::before{
//   content: " ";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background: url("../assets/img/flower2.svg");
//   // background-image: linear-gradient(rgba(102, 80, 96, 0.514), rgba(102, 100, 102, 0.7)), url("../assets/img/flower2.png");
//   background-color: #ffcae3c4;
//   height: 100vh;
//   background-repeat: repeat-x;
//   opacity: .2;
//   z-index: -1;
// }

// mat-card{
//   background-color: transparent;
// }
// .card-container-1{
//   position: absolute;
//   text-align: center;
//   padding: 1rem;
//   width: 24%;
//   left: 38%;
//   margin-top: 20%;
// }

// .container-2{

// }
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

h1, h2{
  font-size: 30px;
}

.parallax {
  position: absolute;
  height: 100%;
}

.parallax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.p-item-1 {
  background: url(../../../assets/img/moon-night.png) center/cover no-repeat;
}

.p-item-2 {
  background: url(../../../assets/img/moon-night-bottom.png) bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 45vh;
}

.content-header {
  margin-bottom: 55vh;

  h2{
    font-size: 22px;
    color: rgb(230, 228, 228);
  }
}

.about-me {
  padding-bottom: 35vh;
  font-size: 40px;
}

.about-me-who-am-i {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 45vh;
  // background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1rem;
}

.about-me-who-am-i img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

mat-card {
  width: 60%;
  background: linear-gradient(180deg, rgba(1, 11, 33, 0.6) 0%, rgba(7, 30, 71, 0.6) 35%, rgba(23, 74, 104, 0.6) 80%);
}

mat-card mat-card-content {
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: justify;
  padding: 1rem;
}
