<!-- <div class="container-1">
    <mat-card class="card-container-1 mat-elevation-z10">
      <mat-card-title>Bianca Klein Schmitt</mat-card-title>
      <mat-card-subtitle>Desenvolvedora Web Full Stack</mat-card-subtitle>
    </mat-card>
</div>

<div class="container-2">
  <section>

  </section>
</div>

<div>
  <section>

  </section>
</div> -->

<div class="parallax">
  <div class="parallax-item p-item-1"></div>
  <div class="parallax-item p-item-2"></div>
  <div class="parallax-item p-item-3"></div>
</div>

<div class="content">
  <div class="content-header">
    <h1>Bianca Klein Schmitt</h1>
    <h2>Full Stack Web Developer</h2>
  </div>

  <div class="about-me">
    <div class="about-me-who-am-i">
      <div>
        <h2 class="mb-5">Quem sou eu?</h2>
        <img src="../../../assets/img/bi.jpg" class="mat-elevation-z20">
      </div>

      <mat-card>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iusto earum quibusdam quos, accusamus
          cum ipsam adipisci sequi modi aliquam commodi, saepe cumque dicta voluptatum. Eaque id maiores voluptatum
          exercitationem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad commodi pariatur provident, error suscipit
          consequuntur? Quas voluptatum, voluptates culpa corrupti hic adipisci eos odit reprehenderit officiis rerum
          provident fuga dignissimos.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut neque aperiam voluptates in magnam sapiente
          laudantium doloremque mollitia vel hic accusantium animi, accusamus aliquid id. Dignissimos vero ipsa
          aperiam maiores.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit architecto delectus accusamus vel
          ratione illum aperiam pariatur saepe, ad consequatur error neque ipsa molestias harum vero sapiente odit
          magnam commodi!
        </mat-card-content>
      </mat-card>
    </div>
    <div class="about-me-my-projects">
      <h2>Meus projetos</h2>
      <app-projects></app-projects>
    </div>
  </div>
