<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
<mat-grid-list cols="7" rowHeight="1:2">
  <!-- projeto 1 -->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Jana Zdebskyi Psicóloga</mat-grid-tile-header>
  </mat-grid-tile>

  <mat-grid-tile rowspan="7">
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 3</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 2-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>BiShop</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 3-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Course Manager</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 4-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>SoulBank</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 5-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>MyDoc</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 6-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>OpenBook</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>

  <!--projeto 7-->
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Produtos da Terra</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>Tile 1</mat-grid-tile-header>
  </mat-grid-tile>


</mat-grid-list>
