@import "@angular/material/theming";
@include mat-core();

$color-primary: mat-palette($mat-pink, A700, 200);
$color-accent: mat-palette($mat-teal, 900, 800, 700);
$color-warn: mat-palette($mat-red, A700);

$custom-theme: mat-light-theme($color-primary, $color-accent, $color-warn);
$my-color: map-get($color-primary, 200);
$bg: #ffefea;

@include angular-material-theme($custom-theme);

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: $bg;
  margin: 0;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
